<div class="container-fluid">
	<nav class="navbar navbar-expand-sm bg-light navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" routerLink="/home">
	  	<img src="css/img/logo.ico" alt="logo"/>&nbsp; AS App
  	  </a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/home"><i class="fa fa-home"></i>&nbsp; Home</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" routerLink="/clientes" routerLinkActive="active-link"><i class="fa fa-user"></i>&nbsp; Clientes <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/produtos"><i class="fa fa-th-large"></i>&nbsp; Produtos</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>
<!-- ./navbar -->
<br/>
<div class="container">
	<div class="cliente-page">
		<h1>Clientes</h1>
		<div class="card card-primary">
			<div class="card-block">
				<hr/>
				<section id="cadastrar" [hidden]="hidden">
					<h2>Cadastro de Clientes</h2>
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nome">Nome</label>
									<input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="cpf">CPF</label>
									<input type="text" class="form-control" name="cpf" [(ngModel)]="cliente.cpf" required>
								</div>
							</div>
						</div>
						<button class="btn btn-success" (click)="addCliente()"><i class="fa fa-save"></i>&nbsp; Cadastrar</button>
					</form>
				</section>
				<section id="editar" [hidden]="!hidden">
					<h2>Alterar Cliente</h2>
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nomeEditar">Nome</label>
									<input type="text" class="form-control" name="nomeEditar" [(ngModel)]="cliente.nome" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="cpfEditar">CPF</label>
									<input type="text" class="form-control" name="cpfEditar" [(ngModel)]="cliente.cpf" required>
								</div>
							</div>
						</div>
						<button class="btn btn-default" (click)="voltarCliente()"><i class="fa fa-times"></i>&nbsp; Voltar</button>
						<button class="btn btn-primary" (click)="editarClienteSubmit()"><i class="fa fa-save"></i>&nbsp; Salvar</button>
					</form>
				</section>
				<hr/>
				<h2>Lista de Clientes</h2>
				<table class="table table-borderd table-stripped">
					<thead>
						<tr>
							<th>Cod.</th>
							<th>Nome</th>
							<th>CPF</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cliente of clientes">
							<td>{{cliente.id}}</td>
							<td>{{cliente.nome}} </td>
							<td>{{cliente.cpf}} </td>
							<td>
								<button class="btn btn-primary" (click)="editarCliente(cliente)"><i class="fa fa-pencil"></i>&nbsp; Editar</button>
								<button class="btn btn-danger" (click)="deletarCliente(cliente)"><i class="fa fa-trash"></i>&nbsp; Deletar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	
	
	
	
	
	
	
	
	
