<div class="container-fluid">
	<nav class="navbar navbar-expand-sm bg-light navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" routerLink="/home">
	  	<img src="css/img/logo.ico" alt="logo"/>&nbsp; AS App
  	  </a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/clientes">Clientes</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/produtos">Produtos</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>
<!-- ./navbar -->
<br/>
<div class="container">
	<div class="cliente-page">
		<h1>Produtos</h1>
		<div class="card card-primary">
			<div class="card-block">
				<hr/>
				<section id="cadastrar" [hidden]="hidden">
					<h2>Cadastro de Produtos</h2>
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nome">Descrição</label>
									<input type="text" class="form-control" name="descricao" [(ngModel)]="produto.descricao" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="cpf">Valor</label>
									<input type="text" class="form-control" name="valor" [(ngModel)]="produto.valor" required>
								</div>
							</div>
						</div>
						<button class="btn btn-success" (click)="addProduto()">Cadastrar</button>
					</form>
				</section>
				<section id="editar" [hidden]="!hidden">
					<h2>Alterar Produto</h2>
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nomeEditar">Descrição</label>
									<input type="text" class="form-control" name="descricaoEditar" [(ngModel)]="produto.descricao" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="cpfEditar">Valor</label>
									<input type="text" class="form-control" name="valorEditar" [(ngModel)]="produto.valor" required>
								</div>
							</div>
						</div>
						<button class="btn btn-default" (click)="voltarProduto()">Voltar</button>
						<button class="btn btn-primary" (click)="editarProdutoSubmit()">Salvar</button>
					</form>
				</section>
				<hr/>
				<h2>Lista de Produtos</h2>
				<table class="table table-borderd table-stripped">
					<thead>
						<tr>
							<th>Cod.</th>
							<th>Descrição</th>
							<th>Valor</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let produto of produtos">
							<td>{{produto.id}}</td>
							<td>{{produto.descricao}} </td>
							<td>{{produto.valor}} </td>
							<td>
								<button class="btn btn-primary" (click)="editarProduto(produto)">Editar</button>
								<button class="btn btn-info" (click)="clonarProduto(produto)">Clonar</button>
								<button class="btn btn-danger" (click)="deletarProduto(produto)">Deletar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	
	
	
	
	
	
	
	
