/* Folha de estilo global do projeto */
body {
	background-color: rgba(27, 65, 104, 1);
	background-image: url('/css/img/tema.png');
	padding: 50px;
}

.navbar-brand img {
	width: 30px;
    height: 30px;
}